/* Media query for mobile */
/* Tablet styles */
@media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }

    .header {
      padding: 10px;
    }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
    .container {
      padding: 5px;
    }

    .header {
      padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    nav .logo a {
      font-size: 3vh !important; /* Adjust font size for smaller screens */
    }
    .nav-content .nav-links {
      display: none !important;
    }
}

/* //firstpage */
@media screen and (max-width: 768px) {
    #my-background {

        & h1 {
            font-size: 5vh !important;
            font-family:'Poppins', sans-serif;
        }
    }
    .vanta-canvas {
        width: 100vw !important;
    }

    .txt_expertise {
        font-size: 5vh !important;
        margin-bottom: 50px;
    }

    .text_exp h1 {
        font-size: 2.5vh;
    }

    .title_expertise h1 {
        font-size: 3vh;
        &::before {
            width: 46px !important;
        }
    }
    .wrapper {
        width: 90% !important;
    }

    /* my work */
    .container_mywork {
        margin-top: 39px!important;
        width: 22rem!important;
        height: 46rem!important;
    }

    .img_project {
        width: 57% !important;
        height: 37% !important;
        background-position: 27rem 118rem !important;
        background-size: 110%;
        margin-left: 60px;
        margin-top: 70px;
    }

    .wrapper_2 {
        display: flex;
        flex-direction: column;
    }

    .headinf{
        & p{
            width: 200%;
        }
    }

    .card{
        width: 265px !important;
    }

    #experiance{
        margin-top: 31rem;
    }

    .subheader {
        & h1 {
            font-size: 7vh !important;
        }
    }

    .accordion dd {
      font-size: 1vh !important;
  }

    .wrapper_4 {
        justify-content: space-around !important;
        width: 22rem !important;
    }
    .footer_container {
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer_container1 {
        height: 100%;
        width: 100%;
    }
};
